org-roam.db
bookmarks
.org-id-locations
history
/eln-cache
/elpa
/tree-sitter


transient/
/auto-save-list/

.DS_Store

recentf
projects
/lisp
init.el
early-init.el
/eshell
/.cache
package-quickstart.el
package-quickstart.elc
